name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false" # 禁用守护进程以避免缓存问题

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build --stacktrace --info

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      if: success()
      with:
        name: ModArtifacts
        path: |
          build/libs/*.jar
          build/reports/tests/test/
        retention-days: 5
